<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <div>
    <% if @matching_chapters.empty? %>
      <p>Sorry, no matches were found.</p>
    <% else %>
      <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
      <ul>
        <% @matching_chapters.each do |hsh| %>
          <li>
            <p><%= hsh[:title] %></p>
            <ul>
              <% hsh[:parags].each_with_index do |parag, ndx| %>
                <li>
                  <a href="#parag#{ndx}"><%= highlight(params[:query], hsh[:parags][ndx]) %></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
